/* ????? QApplication ???????? */
QGroupBox {
    /* ????????????? */
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: bold;
    color: white;

    /* ??????40px???1px */
    border-width: 20px 1px 1px 1px; 
    border-style: solid;
    /* ???? */
    border-color: #004d40; 
    
    /* ?????? */
    border-image: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, 
                    stop:0 #00695c, 
                    stop:1 #004d40) 40 1 1 1 stretch; 

    border-radius: 0px;
    /* ???????? 40px ???????? */
    padding-top: 4px; 
}

QGroupBox::title {
    /* ??? border ???????? 40px ????? */
    subcontrol-origin: border;
    subcontrol-position: top left;
    
    /* ??????? 40px ???? */
    margin-top: 0px; 
    /* ??????? border-width ????? */
    height: 20px;
    
    /* ???????????? padding-top ??? margin */
    padding-top: 1px; 
    padding-left: 2px;
    
    background-color: transparent;
}