/* --- 1. 基础全局样式：对所有按钮生效 --- */
QPushButton {
    background-color: #004D40;
    color: #cccccc;
    padding: 5px 15px;
    min-width: 60px;
    outline: none;
    border: 1px solid #004D40;
}

QPushButton:hover {
    background-color: #00695C;
    border: 1px solid #7a6969;
}

QPushButton:pressed {
    background-color: #00332E;
}

